.projects {
    width: 100%;
    .project {
        width: 100%;
        margin: 50px 25px;
        .images {
            img {
                width: 380px;
                height: 792px;
                margin-top: 30px;
            }
        }
        .visit {
            text-align: center;
            padding-top: 20px;
            p {
                font-size: 22px;
                svg {
                    margin-left: 25px;
                }
            }
        }
    }
}